# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.log
*.pkl

# Ignorar configuraciones de Jupyter
.ipynb_checkpoints/

# Ignorar entornos virtuales (si usas venv)
venv/
env/
.env
.cache

# Ignorar datos sensibles o muy pesados (opcional)
dataset/
!dataset/top10s.csv
